services:
  nginx:
    image: nginx:1.29.4
    restart: unless-stopped
    depends_on:
      - producer
      - consumer
    ports:
      - "80:80"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf"

  kafka:
    image: apache/kafka:4.1.1
    restart: unless-stopped
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
    ports:
      - "9092:9092"
    healthcheck:
      test:
        [
          "CMD",
          "kafka-topics.sh",
          "--bootstrap-server",
          "localhost:9092",
          "--list",
        ]
      interval: 10s
      timeout: 30s
      retries: 10
      start_period: 40s

  mariadb:
    image: mariadb:12
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: cat_db
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  producer:
    build: ./producer
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
      KAFKA_BROKERS: kafka:9092

  consumer:
    build: ./consumer
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_started
      mariadb:
        condition: service_started
    ports:
      - "8081:8081"
    environment:
      KAFKA_BROKERS: kafka:9092

volumes:
  mariadb_data:
